<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% @weekly_spending.each do |week, spending| %> 
        <div class="box">
          <b>Week: </b><%= week.strftime("%B %U") %><br>
          <b>Spending: </b><%= number_with_precision(spending, precision: 2, separator: '.', delimiter: ',') %>
        </div>
  <% end %>
</div>